.custom-background{
  background-color: transparent;
}
//Message de bienvenue
.bienvenue{
  font-size: 3.5em;
  font-family: 'Lavishly Yours', cursive;
  margin-left: 45vw;
  border-bottom: solid 5px white;
  color: rgb(255, 255, 255);

  @media screen and (max-width:$largeur_tablette) {
    font-size: 2em;
  font-family: 'Lavishly Yours', cursive;
  margin-left: 45vw;
  border-bottom: solid 5px white;
  color: rgb(255, 255, 255);
}
}
.blocflex {
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem;

   
  }
  .blocflex__article {
    
      flex: 1 0 300px;
      border-radius: 20% 11% ;
      background-color:  rgb(255, 255, 255);
      padding: 1rem;

      p{
        color: #2D3192;
        font-size: 20px;
      }
      a{
        color: #2D3192;
        margin-left: 180px;
      }

      h5{
        font-size: 20px;
        color: #2D3192;
      }
      
      //box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    .blocflex__article:hover {
      border-color: aliceblue;
      background-color:  #2D3192;
      
      
    }
    .blocflex__galerie{
      flex: 2 0 100%;
    }

    #text{
      color: white;
    }
  