.menu-entete-container{//nav

.menu {//ul
display: flex;
list-style-type: none;
justify-content: space-around;


    .menu-item{
        
        //li
     color: rgb(255, 255, 255);

    a{
        display: block;
        justify-content: space-around;
       
        
    }
    }
    }
}