
.search{
    
    display: flex;
    flex-direction: row;
    background-color: white;
}

.search_1{
    background-color: gray;
    border-bottom: white 5px solid;
    border-top: white 5px solid;
    border-left: white 5px solid;
    border-right: white 5px solid;
}
.Search_2{
    padding-left: 80px;
    font-size: 15px;
}
.searchTout{
    display: flex;
    flex-direction: row;
    

}
.DescriptionS{
    display: flex;
    flex-direction: row;
    background-color: white;


.texte{
    padding-left: 60px;
    color: rgb(67, 67, 67);
    font-size: 15px;
}
}