

.site_header_logo{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
   
}
#chkMenu:checked ~ .menu-entete-container{
    transform: translateX(0);
}
.menu__recherche{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    @media screen and (min-width: $largeur_bureau) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

    }
}
.menu-entete-container{//nav
transform: translateX(300px);
transition: transform;
@media screen and (min-width: $largeur_tabletteDeux ){
    transform: translateX(0px);
}
    .menu {//ul
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items:flex-end;
    justify-content: flex-start;
    @media screen and (min-width:$largeur_tabletteDeux) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
        .menu-item{
            //li
        color: rgb(255, 255, 255);
        a{
            display:block;
            margin: 8px;   
        }
        }
    
        }
    }
    /* ////////////////////////////////////////// zone du MenuBurger*/

/* /////////////////////////// Bouton burger*/
.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    @media screen and (min-width : $largeur_tabletteDeux) {
        display: none;
    }

}

.ligneMenuBurger{
    @media screen and (min-width:$largeur_tabletteDeux) {
        display: none;
    }
}
#chkMenu{
    display: none;
}



    /* ////////////////////////////////////////// zone de recherche */
    .menu__recherche {
        display: flex;
        flex-direction: row;
        @media screen and (min-width: $largeur_bureau) {

            margin-right: 150px;
             
         }
      }
      
    .recherche{
        display: flex;
        flex-wrap: nowrap;
    }
    .recherche__input{
        @media screen and (max-width:$largeur_tabletteDeux) {
            display: none;
        }
    }
   
   