footer{
    border-top: solid white 5px;
    background-color:  #2D3192;
}

.site__footer{
color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.menu-footer-container {
    .menu {
        list-style-type: none;
        text-decoration: none;

    }
}
.menu-footer-container{
    color: white;
}