footer{
    
}

.site__footer{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
    }
.colonne2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 10px;
    color: white;
}
div#block-15.widget.widget_block{
    margin-right: 100px;
}
#menu-footer.menu{
    
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
   
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    color: white;
    text-align: center;
}

.menu-footer-container {
    .menu {
        list-style-type: none;
        text-decoration: none;

    }
}
.menu-footer-container{
    color: rgb(255, 255, 255);
}
.Ligne{
    background-color: #ffffff;
    width: 90vw;
    height: 5px;
}
.Choix a{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 10px;
    
   
}

.logo{
    width: 100vw;
    background-color:  #2D3192;
    
    
}

cite{
    color: rgb(169, 168, 168);
}

