footer{



.site__footer{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        
    }
.colonne2{
  
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    color: white;
    @media screen and (min-width: $largeur_tabletteDeux) {

       padding-left: 80px;
        
    }

    @media screen and (min-width: $largeur_bureau) {

        padding-left: 355px;
         
     }
    
}
div#block-15.widget.widget_block{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
   
    @media screen and (min-width: $largeur_bureau) {

        padding-right: 10px;
         
     }
    

    .wp-block-social-link-anchor{
        width: 2vw;
        margin-right: 5px;

       
    }

   
}
#menu-footer.menu{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: $largeur_tabletteDeux) {

        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        
    }
    @media screen and (min-width: $largeur_bureau) {

        display: flex;
        margin-right: 200px;
          
    }
   
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    color: white;
    text-align: center;

}

.menu-footer-container {
    .menu {
        list-style-type: none;
        text-decoration: none;

    }
}
.menu-footer-container{
    color: rgb(255, 255, 255);
}
.Ligne{
    background-color: #ffffff;
    width: 100vw;
    height: 3px;

    @media screen and (min-width: $largeur_bureau) {

        width: 100vw;
         
     }
}
.Choix a{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 10px;
    
   
}

.logo{
    display: flex;
    width: 100vw;
    background-color:  #2D3192;  
}

cite{
    color: rgb(169, 168, 168);
    padding-left: 70px;
}

p{
    font-size: 20px;
}
.wp-block-quote{
    padding-left: 140px;
    padding-bottom: 20px;

    @media screen and (min-width: $largeur_tablette ){
        padding-left: 200px;
    }
    @media screen and (min-width: $largeur_tabletteDeux ){
        padding-left: 250px;
    }
    @media screen and (min-width: $largeur_bureau ){
        padding-left: 550px;
    }

    
    
}


}